* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: sans-serif;
}

header {
    /* position:absolute; */
    height: 8vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: aliceblue;
    padding: 0 2rem;

}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
}

.toggle{
    display: none;

}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 700px;
}

.menu li a {
    color: aliceblue;
    text-decoration: none;
}

.btn{
    border: 0;
    background: pink;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.btn.btn-secondary{
    background: transparent;
    border: 2px solid pink;
    color: aliceblue;
}

/* section monImage */
.monImage{
    height: 100vh;
    background: url('img/monImage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@media all and (max-width: 991px){
   
    .toggle{
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }
    .logo{
        position: relative;
        z-index: 20;
    }
    .fermer{
        color: pink;
        /* display: none; */
        visibility: hidden;
    }
  
    .ouvrir{
        display: block;
        color: pink;
    }
  
    .open .ouvrir{
        display:none;

    }
    .open .fermer{
        /* display: block; */
        visibility: visible;
    }

    .menu{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100vh;
        background: black;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .open .menu{
        transform: translateX(0);
    }


}


  
    
    

